body {
    font-family: "Inter", sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 40px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

table {
    margin: auto; 
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

thead {
    background: #4a90e2;
    color: white;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background: #f1f1f1;
}

th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
}

td {
    color: #555;
    font-size: 15px;
}

tbody tr:last-child td {
    border-bottom: none;
}
.text-center{
    text-align: center;
    padding-top: 100px;
}

.btn {
    margin-top: 40px;
    display: inline-block;
    padding: 10px 20px;
    background: #3498db;
    color: white;
    text-decoration: none !important;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    border: none !important;
}

.btn:hover {
    background: #2980b9;
}
a {
    text-decoration: none !important;
    color: white !important;
}