
body {
    font-family: "Inter", sans-serif;
    background: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
  
}
.home-part {
    margin: auto; 
    border-collapse: collapse;
    display: flex;
    justify-content: space-around;
    padding: 25px 20px;
    max-width: 1200px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.home-part a{
    text-decoration: none !important;
    color:white !important;
}
.first-box{
    width:270px;
    height: 150px;
    background: rgb(2, 83, 59);
    border-radius: 5px;
    padding: 15px;
    text-decoration: none !important;   
}
.second-box{
    width:270px;
    background: rgb(200, 121, 2);
    border-radius: 5px;
    padding: 15px;
}
.third-box{
    width:270px;
    background: blue;
    border-radius: 5px;
    padding: 15px;
}

.nav{
    background-color: black;
    height: 70px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.icon{
    color:white;
    font-size: 22px;
    font-weight: 700;
}
.nav-links{
    color:white;
    display: flex;
    gap:65px;
    justify-content: space-between;
    list-style: none;
    font-size: 18px;
    text-decoration: none !important;
}
.nav-links a{
    cursor: pointer;
    text-decoration: none !important;
    color:white !important;
}

.btn{
    padding: 10px 30px;
    border-radius: 4px;
    color:black;
    font-size: 18px;
}
.footer-part{
    background-color: black;
    height: 40px;
    text-align: center;
    color:pink;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
}
